<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.clowder.ClowderHelper</string>
    <key>BundleProgram</key>
    <string>Contents/MacOS/ClowderHelper</string>
    <key>MachServices</key>
    <dict>
        <key>dev.clowder.ClowderHelper.xpc</key>
        <true/>
    </dict>
    <key>AssociatedBundleIdentifiers</key>
    <array>
        <string>dev.clowder.Clowder</string>
    </array>
</dict>
</plist>
